In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
# loading the dataset
energy = pd.read_csv('energydata_complete.csv')
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

ATTRIBUTE INFORMATION
Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

T_out, Temperature outside (from Chievres weather station), in Celsius

Press_mm_hg, Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [4]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

QUESTION 11
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). 
What is the R^2 value in two d.p.?

In [5]:
#fit a model between T2 and T6
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [7]:
X = energy[['T2']]
y = energy[['T6']]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1111)

In [9]:
linear = linear.fit(X_train,y_train)
pred = linear.predict(X_test)

from sklearn.metrics import r2_score
r2_score = r2_score(y_test,pred)
r2_score = round(r2_score,2)
print("r2_score:", r2_score)

r2_score: 0.64

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. 
Answer the following questions:

In [10]:
# remove date and light and normalize the dataset
# applicances are the target variables
energy.drop(['date','lights'],axis=1,inplace=True)
energy.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [11]:
# Normalising dataset using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalized_energy = pd.DataFrame(scaler.fit_transform(energy),columns=energy.columns)
normalized_energy.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [12]:
# Drop Appliances
features = normalized_energy.drop('Appliances',axis=1)

target = normalized_energy['Appliances']

In [13]:
# 0.7 train_test_split
feat_train, feat_test, targ_train, targ_test = train_test_split(features,target,test_size=0.3, random_state=42)

In [14]:
# regression model
linear_model = LinearRegression()

#fitting model
linear_model.fit(feat_train,targ_train)

#making predictions
predictions = linear_model.predict(feat_test)

In [15]:
#measuring regression performance
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

QUESTION 13
What is the Mean Absolute Error (in two decimal places)?

In [16]:
mae = mean_absolute_error(targ_test, predictions)
mae = round(mae, 2)
print("MAE:", mae)

MAE: 0.05

QUESTION 14
What is the residual sum of squares in 2 decimal places

In [17]:
rss = mean_squared_error(targ_test, predictions)
rss = round(rss, 2)
print("RSS:", rss)

RSS: 0.01

QUESTION 15
What is the root mean squared error in 3 decimal places

In [18]:
from math import sqrt
rmse= sqrt(mean_squared_error(targ_test, pred))
rmse = round(rmse, 3)
# Print the result
print("RMSE:", rmse)

RMSE: 9.2

QUESTION 16
What is the coefficient of determination in 2 decimal places

In [19]:
coef_of_det = r2_score(targ_test, predictions)
coef_of_det = round(coef_of_det, 2)
print("coef_of_det:", coef_of_det)

coef_of_det: 0.15

QUESTION 17
Obtain the feature weights, which has the highest and the lowest

In [20]:
weights = pd.Series(linear_model.coef_,features.columns)
weights.sort_values()

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

QUESTION 18
Train ridge with alpha = 0.4, is there any change to the RMSE

In [21]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=0.4)

#fit
ridge.fit(feat_train,targ_train)
#predictions
ridge_pred = ridge.predict(feat_test)

#check RMSE
rmse= sqrt(mean_squared_error(targ_test, pred))
rmse = round(rmse, 3)
# Print the result
print("RMSE:", rmse)

RMSE: 9.2

NO CHANGE

QUESTION 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [28]:
# Train lasso with alpha = 0.001

from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)

#train the model
lasso_reg.fit(feat_train,targ_train)
#predictions
y_pred= lasso_reg.predict(feat_test)

#feature_weights
lasso_weights = pd.Series(lasso_reg.coef_, features.columns)
lasso_weights

T1             0.000000
RH_1           0.017880
T2             0.000000
RH_2          -0.000000
T3             0.000000
RH_3           0.000000
T4            -0.000000
RH_4           0.000000
T5            -0.000000
RH_5           0.000000
T6             0.000000
RH_6          -0.000000
T7            -0.000000
RH_7          -0.000000
T8             0.000000
RH_8          -0.000110
T9            -0.000000
RH_9          -0.000000
T_out          0.000000
Press_mm_hg   -0.000000
RH_out        -0.049557
Windspeed      0.002912
Visibility     0.000000
Tdewpoint      0.000000
rv1           -0.000000
rv2           -0.000000
dtype: float64

In [23]:
#features with non-zero feature weights
sum(lasso_weights != 0)

4

QUESTION 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [29]:
#new RMSE
lasso_rmse= sqrt(mean_squared_error(targ_test, y_pred))
lasso_rmse = round(lasso_rmse, 3)
# Print the result
print("RMSE with lasso regresion", lasso_rmse)

RMSE with lasso regresion 0.094